<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后端CMS运营界面</title>
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/index.css">
</head>
<body>
	<div class="component-wrap clearfix">
		<div class="side-menu">
			<p class="title">组件库</p>
			<ul class="menu-list clearfix">
				<li class="menu-item"><a :class="{'active':navIndex===0}" @click="switchTab(0)" class="menu-link" href="#">图片组件</a>
                <ul class="tab-content clearfix" v-if="navIndex===0">
                    <li class="item" @click="addItem('PICTURE1')">
                        <img  class="item-img" src="./img/pic-1.png" alt="单张图">
                        <p class="tips">单张图</p>
                    </li>
                    <li class="item" @click="addItem('PICTUREMIX2')">
                        <img  class="item-img" src="./img/pic-2.png" alt="一行2张图">
                        <p class="tips">一行2张图</p>
                    </li>
                    <li class="item" @click="addItem('PICTUREMIX3')">
                        <img  class="item-img" src="./img/pic-3.png" alt="一行3张图">
                        <p class="tips">一行3张图</p>
                    </li>
                    <li class="item" @click="addItem('PICTUREMIXL1R2')">
                        <img class="item-img" src="./img/pic-L1R2.png" alt="左边1张，右边2张">
                        <p class="tips">左边1张，右边2张</p>
                    </li>
                    <li class="item" @click="addItem('PICTUREMIXL2R1')">
                        <img class="item-img" src="./img/pic-L2R1.png" alt="左边2张，右边1张">
                        <p class="tips">左边2张，右边1张</p>
                    </li>
                    <li class="item" @click="addItem('PICTURE1')">
                        <img class="item-img" src="./img/activity.png" alt="活动位置">
                        <p class="tips">活动位置</p>
                    </li>
                    <li class="item" @click="addItem('PICTURE1')">
                        <img class="item-img" src="./img/packet.png" alt="红包位置">
                        <p class="tips">红包位置</p>
                    </li>
                </ul>
            </li>
				<li class="menu-item">
                    <a :class="{'active':navIndex===1}" @click="switchTab(1)" class="menu-link" href="#">这里是组件</a>
                </li>
				<li class="menu-item">
                    <a :class="{'active':navIndex===2}" @click="switchTab(2)" class="menu-link" href="#">这里是组件</a>
                </li>
				<li class="menu-item">
                    <a :class="{'active':navIndex===3}" @click="switchTab(3)" class="menu-link" href="#">这里是组件</a>
                </li>
				<li class="menu-item">
                    <a :class="{'active':navIndex===4}" @click="switchTab(4)" class="menu-link" href="#">这里是组件</a>
                </li>
			</ul>
		</div>
		<div class="main-wrap" :class="{'main-wrap-outline':!compData.length}">
        <div class="noData-tips" v-if="!compData.length">点击左侧菜单添加组件</div>
            <ul :style="`background: ${dragging? 'red' : 'pink'}`">
                <!-- v-drag-and-drop drop="handleDrop" -->
            <draggable class="main-li clearfix"
            v-for="(compItem, $index) in compData"
            :id="$index"
            :list="compData"
            @update="handleDrop"
            @start="dragging=true"
            @end="dragging=false" element="li">
            <!-- <draggable id="myId"> -->
            <!-- <li class="main-li clearfix" v-for="(compItem, $index) in compData" :id="$index"> -->
                <!-- <div class="wrap-li"> -->
                <div class="btn-wrap">
                    <button class="btn-item btn-up" @click="sortNodeUp($index)">↑</button>
                    <button class="btn-item btn-down" @click="sortNodeDown($index)">↓</button>
                    <button class="btn-item btn-drag">drag</button>
                    <button v-if="1" class="btn-item btn-remove" @click="removeNode($index)">X</button>
                </div>
                <!-- 一、两、三张图片，不同class -->
                <div v-if="compItem.compType==='PICTURE1'||compItem.compType==='PICTUREMIX2'||compItem.compType==='PICTUREMIX3'" v-for="(contentItem, key) in compItem.contents" class="float">
                    <div :class="{'two-img':compItem.compType==='PICTUREMIX2','three-img':compItem.compType==='PICTUREMIX3'}" class="big-img" v-if="!contentItem.image">
                        <input class="upload-input" type="file" @change="onFileChange($event,$index,key)">
                    </div>
                    <div :class="{'two-img-wrap':compItem.compType==='PICTUREMIX2','three-img-wrap':compItem.compType==='PICTUREMIX3','isEdit-outline':isEdit.index===$index&&isEdit.key===key&&isEdit.isEditing}" class="img-wrap" v-else>
                        <a :href="contentItem.link" v-on:click.prevent>
                            <img :class="{'two-upload-img':compItem.compType==='PICTUREMIX2','three-upload-img':compItem.compType==='PICTUREMIX3'}" class="upload-img" :src="contentItem.image" />
                        </a>
                        <input class="upload-input" type="file" @change="onFileChange($event,$index,key)">
                        <p :class="{'two-captions':compItem.compType==='PICTUREMIX2','three-captions':compItem.compType==='PICTUREMIX3'}" class="captions">{{contentItem.captions}}</p>
                        <button class="btn-item btn-edit" @click="editLinkTitle($index,key)">edit</button>
                    </div>
                </div>
                <!-- /一、两、三张图片，不同class -->
                <!-- 左边1张，右边2张图片 -->
                <div v-if="compItem.compType==='PICTUREMIXL1R2'" v-for="(contentItem, key) in compItem.contents" class="float">
                    <div :class="{'two-img':key===0,'L1R2-img':key>0}" class="big-img" v-if="!contentItem.image">
                        <input class="upload-input" type="file" @change="onFileChange($event,$index,key)">
                    </div>
                    <div :class="{'two-img-wrap':key===0,'L1R2-img-wrap':key>0,'isEdit-outline':isEdit.index===$index&&isEdit.key===key&&isEdit.isEditing}" class="img-wrap" v-else>
                        <a :href="contentItem.link"><img :class="{'two-upload-img':key===0,'L1R2-upload-img':key>0}" class="upload-img" :src="contentItem.image" /></a>
                        <p :class="{'two-captions':key===0,'L1R2-captions':key>0}" class="captions">{{contentItem.captions}}</p>
                        <input class="upload-input" type="file" @change="onFileChange($event,$index,key)">
                        <button class="btn-item btn-edit" @click="editLinkTitle($index,key)">edit</button>
                    </div>
                </div>
                <!-- /左边1张，右边2张图片 -->
                <!-- 左边2张，右边1张图片 -->
                <!-- 单独处理前两张，float到左边 -->
                <div class="L2R1-float" v-if="compItem.compType==='PICTUREMIXL2R1'">
                    <div v-if="compItem.compType==='PICTUREMIXL2R1'&&key<2" v-for="(contentItem, key) in compItem.contents">
                        <div class="big-img L1R2-img" v-if="!contentItem.image">
                            <input class="upload-input" type="file" @change="onFileChange($event,$index,key)">
                        </div>
                        <div :class="{'isEdit-outline':isEdit.index===$index&&isEdit.key===key&&isEdit.isEditing}" class="img-wrap L1R2-img-wrap" v-else>
                            <a :href="contentItem.link"><img class="upload-img L1R2-upload-img" :src="contentItem.image" /></a>
                            <input class="upload-input" type="file" @change="onFileChange($event,$index,key)">
                            <p class="captions L1R2-captions">{{contentItem.captions}}</p>
                            <button class="btn-item btn-edit" @click="editLinkTitle($index,key)">edit</button>
                        </div>
                    </div>
                </div>
                <!-- /单独处理前两张，float到左边 -->
                <div v-if="compItem.compType==='PICTUREMIXL2R1'&&key===2" v-for="(contentItem, key) in compItem.contents" class="float">
                    <div class="big-img two-img" v-if="!contentItem.image">
                        <input class="upload-input" type="file" @change="onFileChange($event,$index,key)">
                    </div>
                    <div :class="{'isEdit-outline':isEdit.index===$index&&isEdit.key===key&&isEdit.isEditing}" class="img-wrap two-img-wrap" v-else>
                        <a :href="contentItem.link"><img class="upload-img two-upload-img" :src="contentItem.image" /></a>
                        <input class="upload-input" type="file" @change="onFileChange($event,$index,key)">
                        <p class="captions two-captions">{{contentItem.captions}}</p>
                        <button class="btn-item btn-edit" @click="editLinkTitle($index,key)">edit</button>
                    </div>
                </div>
                <!-- </div> -->
                <!-- /左边2张，右边1张图片 -->
            <!-- </li> -->
            </draggable>
            </ul>
		</div>
        <div class="side-wrap">
            <div v-if="isEdit.isEditing" class="link-title-wrap">
                <div class="link-wrap">
                    <p class="title">添加图片链接</p>
                    <input v-model="isEdit.link" class="ipt" type="text" value="http://" placeholder="先选中图片，然后在这里添加链接">
                </div>
                <div class="title-wrap">
                    <p class="title">添加图片说明文字</p>
                    <input v-model="isEdit.captions" class="ipt" type="text" placeholder="添加图片说明文字">
                </div>
                <button class="btn-save" @click="saveLinkTitle">保存</button>
            </div>
            <div class="save-all-wrap" v-if="compData.length">
                <button class="btn-save-all" @click="saveAll">全部保存</button>
                <button class="btn-save-all" @click="removeAll">全部删除</button>
            </div>
        </div>
    </div>
    <script src="./lib/vue.min.js"></script>
    <script src="./lib/Sortable.js"></script>
	<!-- <script src="./lib/vue.drag-and-drop.js"></script> -->
	<script src="./lib/vuedraggable.js"></script>
	<!-- <script src="./lib/vue-dragging.es5.js"></script> -->
    <script src="./js/main.js"></script>
</body>
</html>